html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #F7F7F7;   
}

.main canvas {
    outline: none;
    /* border: 1px solid #000; */
}

.main #backgroundBox {
    position: fixed;
    top: 100px;
    /* border: 1px solid #000; */
    z-index: 1;
}

.main #gameBox {
    position: fixed;
    top: 100px;
    /* border: 1px solid #000; */
    z-index: 2 ;
}

